<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Items : View all</title>
</head>
<body>
<h1 layout:fragment="header">Items : View all</h1>
<div layout:fragment="content" class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Photo</td>
            <td>Name</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${items.empty}">
            <td colspan="4">
                No items
            </td>
        </tr>
        <tr th:each="item : ${items}">
            <td>
                <img src="https://www.google.com/images/srpr/logo11w.png" alt="image"
                     style="height: 60px;" class="img-rounded"
                     th:src="${item.product.photo} ? @{'data:image/jpeg;base64,'+${item.product.getPhotoBase64()}} :
                             @{/image/image_not_available.jpg}"/>
            </td>
            <td>
                <a href="view.html"
                   th:href="@{'/products/' + ${item.product.id}}"
                   th:text="${item.product.name}">
                    Shoes
                </a>
            </td>
            <td><input th:id="${item.id}" type="number" value="1" th:value="${item.quantity}"/></td>
            <td th:text="${item.price} ? ${#numbers.formatDecimal(item.price, 1, 2)} : 0">1,99</td>
        </tr>
        <tr class="info">
            <td colspan="3"><p style="font-size: 16px; font-weight: bold" class="pull-right">Total: </p></td>
            <td th:text="${#numbers.formatDecimal(totalPrice, 1, 2)}"></td>
        </tr>
        </tbody>
    </table>

    <button id="updateCart" class="btn btn-large pull-right">Update</button>
</div>
</body>
</html>